<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>layouttest</title>  
      <link rel="stylesheet" href="css/layout.css">
    </head>
    <body>
        <div class="lang"></div>
    <div class="header">
        <div class="left"></div>
        <div class="leftt"></div>
        <div class="right">
                    <div class="lbox">
                        <div class="ltop"></div>
                        <div class="lbottom"></div>
                    </div>
                    <div class="rbox"></div>
        </div>
    </div>
    
    
    <div class="middle">
       
        <div class="mleft">
            <div class="mlfttop"></div>
            <div class="mlftbottom"></div>
             
        </div>
        
        <div class="mmiddle">
            <div class="mmidtop"></div>
            <div class="mmmid"></div>
            <div class="mmidbottom">
                <div class="mmidbottomo"></div>
            </div>
        </div>
        <div class="mright">
            <div class="mrhttop"></div>
            <div class="mrhtbottom">
                
            </div>
        </div>
       
    </div>
    <div class="footer"></div>
   </body>
    
    
</html>